@import 'partials/bootstrapvariables';
@import "~bootstrap/scss/bootstrap";
@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";

@import 'partials/settings';
@import 'partials/icons';
@import 'partials/nav';
@import 'partials/subnav';
@import 'partials/hamburger';
@import 'partials/topbar';
@import 'partials/helpers';
@import 'partials/cards';
@import 'pages/dashboard';

@import 'pages/login';
@import 'pages/dashboard';
@import 'pages/welcome';
@import 'pages/helpcenter';

@import 'usertemplate';

body {
    font-size: $font-size;
    line-height: 1.7;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: $dark;
    background: $bg-bodygrey;
}

html,
body {
    height: 100%;
}

a {
    text-decoration: none;
}

.glass-bg {
    background-image: url('https://images.unsplash.com/photo-1515378960530-7c0da6231fb1?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: 100%;
    background-position: center;

}

.glass{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  //  border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.glass-danger {
    background: linear-gradient(135deg, rgba(246, 6, 6, 0.262), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.glass-gray {
    background: rgba(45, 48, 51, 0.527);
    // backdrop-filter: blur(10px);
    // -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}