.card {
    border-radius: 10px;
    border: 0;
  
    .card-header {
      border-color: $light;
      padding: 0;
      background-color: transparent
    }
  
    .card-body {
      padding: 0;
    }
  
    .card-footer {
      padding: 0;
      background-color: transparent;
      border: none;
    }
  
    .card-text {
      p:last-child, ul:last-child {
        margin-bottom: 0;
      }
  
    }
  }
  